<div class="login-form">
  <div class="card">
    <div class="card-body">
      <h2 class="title">Login</h2>
      <form [formGroup]="loginForm">
        <div class="row row-space">
          <div class="field col-sm-12">
            <input type="text" formControlName="login" id="login" name="login">
            <label for="login">Login</label>
          </div>
        </div>

        <div class="row row-space">
          <div class="field col-sm-12">
            <input type="password" formControlName="password" id="password" name="password">
            <label for="password">Password</label>
          </div>
        </div>

        <div *ngIf="hasError" class="row row-space">
          <div class="field col-sm-12">
            <span class="alert-danger">{{errorMessage}}</span>
          </div>
        </div>

        <button class="default-button" (click)="login()">Login</button>

      </form>
      <a href="register">Not registered? Sign Up</a>
    </div>
  </div>
</div>


