<div class="card game-body">
  <button *ngIf="ownerUser" mat-raised-button color="primary" class="mat-button-bg game-button" (click)="editGame()" >Edit Game</button>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <h1>{{game.name}}</h1>
        <button>Download</button>
      </div>
      <span>Version {{game.version}}</span>
    </div>
    <div class="col-md-4">
      <h1>Rating ({{this.rating}}/5)</h1>

      <img *ngFor="let rate of rateArray;let i = index" alt="ratingDonut" [src]="getRateImage(rate)" height="60px" width="90px">
      <button (click)="rateGame()">Rate</button>
      <h2>{{this.ratingNumber}} ratings</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <img alt="gameImg" [src]="game.coverImage" height="400px" width="800px">
    </div>
    <div class="col-lg-6">
      <div class="game-description">{{game.fullDescription}}</div>
      <div class="game-description">Release Date {{game.releaseDate}}</div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="game-counts">0</div>
      <div class="game-texts">FOLLOWERS</div>
    </div>
    <div (click)="changeMenu('COMMENTS')" class="col-md-3">
      <div class="game-counts">{{commentsList.length}}</div>
      <div class="game-texts">COMMENTS</div>
    </div>
    <div (click)="changeMenu('GALLERY')" class="col-md-3">
      <div class="game-counts">0</div>
      <div class="game-texts">GALLERY</div>
    </div>
    <div (click)="changeMenu('JOBS')" class="col-md-3">
      <div class="game-counts">{{jobList.length}}</div>
      <div class="game-texts">JOBS</div>
    </div>
  </div>
  <div>
    <div id="gameMenu" class="game-menu">
      {{selectedMenu}}
    </div>
    <div *ngIf="selectedMenu == 'JOBS'">
      <button *ngIf="ownerUser" mat-raised-button color="primary" class="mat-button-bg job-button" (click)="postJob()" >Post Job</button>
      <div  *ngFor="let job of jobList">
        <div class="row">
          <div class="col-sm-11 job-name">
            {{job.name}}
          </div>
          <div class="col-sm-1">
            <button *ngIf="!ownerUser && logged">Apply</button>
          </div>
        </div>
        <div>
          {{job.description}}
        </div>
        <br>
        <div>
          REQUIREMENTS
        </div>
        <div class="job-reqs">
          {{job.requirements}}
        </div>
        <div>
          BENEFITS
        </div>
        <div class="job-reqs">
          {{job.benefits}}
        </div>
        <hr/>
      </div>
    </div>

    <div *ngIf="selectedMenu == 'COMMENTS'">
      <div *ngFor="let comment of commentsList">
        <div>
          <img class="rate-img" *ngFor="let rate of comment.rateArray;let i = index" alt="ratingDonut" [src]="getRateImageComment(rate)" height="50px" width="70px">
        </div>
        <br>
        <div>
          {{comment.comments}}
        </div>
        <hr/>
      </div>
    </div>

  </div>

</div>
