<div class="card game-body">
  <button *ngIf="ownerUser" mat-raised-button color="primary" class="mat-button-bg game-button" (click)="editGame()" >Edit Game</button>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <h1>{{game.name}}
          <button *ngIf="logged && !follower" (click)="followGame(true)" mat-raised-button color="primary" class="mat-button-bg like-button"><i class="fa fa-thumbs-up"></i></button>
          <button style="cursor: pointer;" *ngIf="logged && follower" (click)="followGame(false)" mat-raised-button color="primary" class="mat-button-bg like-button"><i class="fa fa-thumbs-down"></i></button>
        </h1>
      </div>
      <span>Version {{game.version}}</span>
    </div>
    <div class="col-md-4">
      <h1>Rating ({{this.rating}}/5)</h1>

      <img *ngFor="let rate of rateArray;let i = index" alt="ratingDonut" [src]="getRateImage(rate)" height="60px" width="90px">
      <button (click)="rateGame()">Rate</button>
      <h2>{{this.ratingNumber}} ratings</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <img alt="gameImg" [src]="game.coverImage" height="400px" width="800px">
    </div>
    <div class="col-lg-6">
      <div class="game-description">{{game.fullDescription}}</div>
      <div class="game-description">Release Date {{game.releaseDate}}</div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="game-counts">{{followersCount}}</div>
      <div class="game-texts">FOLLOWERS</div>
    </div>
    <div (click)="changeMenu('COMMENTS')" class="col-md-3">
      <div class="game-counts">{{commentsList.length}}</div>
      <div class="game-texts">COMMENTS</div>
    </div>
    <div (click)="changeMenu('GALLERY')" class="col-md-3">
      <div class="game-counts">{{images.length}}</div>
      <div class="game-texts">GALLERY</div>
    </div>
    <div (click)="changeMenu('JOBS')" class="col-md-3">
      <div class="game-counts">{{jobList.length}}</div>
      <div class="game-texts">JOBS</div>
    </div>
  </div>
  <div>
    <div id="gameMenu" class="game-menu">
      {{selectedMenu}}
    </div>
    <div *ngIf="selectedMenu == 'JOBS'">
      <button *ngIf="ownerUser" mat-raised-button color="primary" class="mat-button-bg job-button" (click)="postJob()" >Post Job</button>
      <div  *ngFor="let job of jobList">
        <div class="row">
          <div class="col-sm-11 job-name">
            {{job.name}}
          </div>
          <div class="col-sm-1">
            <button *ngIf="!ownerUser && logged" (click)="open(applyModal, job)">Apply</button>
            <button *ngIf="ownerUser" (click)="open(applicationsModal, job)">Check Applications</button>
          </div>
        </div>
        <div>
          {{job.description}}
        </div>
        <br>
        <div>
          REQUIREMENTS
        </div>
        <div class="job-reqs">
          {{job.requirements}}
        </div>
        <div>
          BENEFITS
        </div>
        <div class="job-reqs">
          {{job.benefits}}
        </div>
        <hr/>
      </div>
    </div>

    <div *ngIf="selectedMenu == 'COMMENTS'">
      <div *ngFor="let comment of commentsList">
        <div>
          <img class="rate-img" *ngFor="let rate of comment.rateArray;let i = index" alt="ratingDonut" [src]="getRateImageComment(rate)" height="50px" width="70px">
        </div>
        <br>
        <div>
          {{comment.comments}}
        </div>
        <hr/>
      </div>
    </div>

    <div *ngIf="selectedMenu == 'GALLERY'">
      <button *ngIf="ownerUser" mat-raised-button color="primary" class="mat-button-bg job-button" (click)="open(imageModal, null)" >Add Image</button>
      <div class="row">
        <div *ngFor="let image of images" class="card image-card">
          <img  alt="jobImg" class="card-img-top" [src]="image.image" height="400px">
        </div>
      </div>
    </div>

  </div>

</div>


<ng-template #applyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Job Application</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2 class="card-title">
      {{jobApplication.name}}
    </h2>
    <div class="row row-space">
      <div class="field col-sm-12">
        <input type="file" id="resume" (change)="onResumeChanged($event)">
        <label for="resume">Resume</label>
      </div>
    </div>
    <div class="row row-space">
      <div class="field col-sm-12">
        <input type="file" id="coverLetter" (change)="onCoverLetterChanged($event)">
        <label for="coverLetter">Cover Letter</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="applyJob()">Apply</button>
  </div>
</ng-template>

<ng-template #applicationsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Job Applications</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2 class="card-title">
      {{jobApplication.name}}
    </h2>
    <div *ngFor="let application of applications">
      <hr/>
      <p class="application-name">{{application.name}}</p>
      <p>{{application.email}}</p>
      <p class="application-link" (click)="downloadItem(application.resume)">Resume</p>
      <p *ngIf="application.coverLetter" class="application-link" (click)="downloadItem(application.coverLetter)" >Cover Letter</p>
      <hr/>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Ok</button>
    </div>
  </div>
</ng-template>

<ng-template #imageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row row-space">
      <div class="field col-sm-12">
        <input type="file" id="image" (change)="onImageChanged($event)">
        <label for="image">Image</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addImage()">Save</button>
  </div>
</ng-template>
